In [2]:


from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("EmployeeDataFrame").getOrCreate()

# Create a list of employee data
employee_data = [
    ("John Doe", 30, "Engineering"),
    ("Jane Smith", 25, "Sales"),
    ("David Lee", 35, "Marketing"),
    ("Sarah Jones", 28, "Finance")
]

# Create a DataFrame from the employee data
employee_df = spark.createDataFrame(employee_data, ["name", "age", "department"])

# Show the DataFrame
employee_df.show()

# Stop the SparkSession

+-----------+---+-----------+
|       name|age| department|
+-----------+---+-----------+
|   John Doe| 30|Engineering|
| Jane Smith| 25|      Sales|
|  David Lee| 35|  Marketing|
|Sarah Jones| 28|    Finance|
+-----------+---+-----------+

## **withColumn function use**

In [3]:
from pyspark.sql.functions import lit
employee_df = employee_df.withColumn("isActive", lit("1"))

In [4]:
employee_df.show()

+-----------+---+-----------+--------+
|       name|age| department|isActive|
+-----------+---+-----------+--------+
|   John Doe| 30|Engineering|       1|
| Jane Smith| 25|      Sales|       1|
|  David Lee| 35|  Marketing|       1|
|Sarah Jones| 28|    Finance|       1|
+-----------+---+-----------+--------+

## **Cast Function**

Cast function